/*
.App {
  text-align: center;
}

.App-logo {
  height: 150px;
}

.Service-details, .How-it-works, .Login-section, .About-us, .Contact {
  margin: 20px 0;
}

.Login-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

footer {
  margin-top: 50px;
}

*/